.about {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 35rem;
  width: 80%;
}
@media screen and (max-width: 1050px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}
.about .about__block__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 5rem;
  width: 40%;
}
@media screen and (max-width: 1050px) {
  .about .about__block__left {
    margin-right: 0;
    width: 80%;
  }
}
.about .about__block__left .about__block__left__title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  width: 7rem;
  text-decoration: underline rgba(255, 119, 43, 0.7);
  text-underline-offset: 1rem;
  margin-top: 5rem;
  font-family: "Tomorrow", sans-serif;
}
.about .about__block__left__description {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
  white-space: pre-line;
  font-family: "Faustina", serif;
}
@media screen and (max-width: 1100px) {
  .about .about__block__left__description {
    font-size: 1rem;
  }
}
.about .about__block__left__description .about__block__left__description__name {
  color: rgba(255, 119, 43, 0.7);
}
.about .about__block__left__description .about__block__left__description__name a {
  color: rgba(255, 119, 43, 0.7);
}
.about .about__block__left__description .about__block__left__description__name a:hover {
  color: rgba(255, 169, 118, 0.7);
}
.about .about__block__right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 5rem;
  width: 40%;
}
@media screen and (max-width: 1100px) {
  .about .about__block__right {
    width: 45%;
  }
}
@media screen and (max-width: 1050px) {
  .about .about__block__right {
    width: 80%;
    margin-left: 0;
    margin-bottom: 3rem;
  }
}
.about .about__block__right .about__block__right__title {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  width: 4rem;
  text-decoration: underline rgba(255, 119, 43, 0.7);
  text-underline-offset: 1rem;
  margin-top: 5rem;
  font-family: "Tomorrow", sans-serif;
}
@media screen and (max-width: 1100px) {
  .about .about__block__right .about__block__right__title {
    margin-right: 2rem;
  }
}
.about .about__block__right .__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 530px) {
  .about .about__block__right .__list {
    justify-content: center;
  }
}
@media screen and (max-width: 380px) {
  .about .about__block__right .__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.about .about__block__right .__list .__list__flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (max-width: 1100px) {
  .about .about__block__right .__list .__list__flex {
    margin-right: 2rem;
  }
}
.about .about__block__right .__list .__list__flex li {
  font-family: "Faustina", serif;
}
.about .about__block__right .__list .__list__flex .__list__title {
  font-size: 1.25rem;
  font-family: "Faustina", serif;
}
@media screen and (max-width: 380px) {
  .about .about__block__right .__list .__list__flex .__list__title {
    text-decoration: underline rgba(255, 119, 43, 0.7);
    text-underline-offset: 1rem;
  }
}
.about .about__middle {
  width: 1px;
  height: 75%;
  margin-top: 3.5%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1050px) {
  .about .about__middle {
    display: none;
  }
}

/*# sourceMappingURL=About.css.map */
