

$faustina-font: 'Faustina', serif;
$tomorrow-font: 'Tomorrow', sans-serif;
$dark-orange: rgba(255,119,43,0.7);
$light-orange: rgba(255, 169, 118, 0.7);
$light-grey: rgba(255,255,255,0.7);
$grey: rgba(255,255,255,0.3);
$dark-grey: rgba(0,0,0,0.3);