.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
}
@media screen and (max-width: 850px) {
  .footer {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1rem;
  }
}
.footer .footer__block__left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1rem;
  margin-left: 5rem;
  width: 40%;
}
@media screen and (max-width: 850px) {
  .footer .footer__block__left {
    height: auto;
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
}
.footer .footer__block__left button {
  width: 12rem;
  height: 4rem;
  border: none;
  border-radius: 20px;
  font-family: "Tomorrow", sans-serif;
}
@media screen and (max-width: 1050px) {
  .footer .footer__block__left button {
    width: 10rem;
  }
}
@media screen and (max-width: 380px) {
  .footer .footer__block__left button {
    width: 7.5rem;
  }
}
.footer .footer__block__left .footer__block__left__btnContact {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.1rem;
}
@media screen and (max-width: 1050px) {
  .footer .footer__block__left .footer__block__left__btnContact {
    font-size: 1rem;
  }
}
@media screen and (max-width: 380px) {
  .footer .footer__block__left .footer__block__left__btnContact {
    font-size: 0.8rem;
  }
}
.footer .footer__block__left .footer__block__left__btnContact:hover {
  cursor: pointer;
  background-color: rgba(255, 119, 43, 0.7);
  color: #222222;
  font-weight: bold;
}
.footer .footer__block__left .footer__block__left__btnCv {
  background-color: rgba(255, 119, 43, 0.7);
}
.footer .footer__block__left .footer__block__left__btnCv a {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}
@media screen and (max-width: 1050px) {
  .footer .footer__block__left .footer__block__left__btnCv {
    font-size: 1rem;
  }
}
.footer .footer__block__left .footer__block__left__btnCv:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  background-color: #222222;
  border: 1px solid rgba(255, 119, 43, 0.7);
}
.footer .footer__block__left .footer__block__left__btnCv:hover a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  font-size: 1.25rem;
}
.footer .footer__block__right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 40%;
}
@media screen and (max-width: 850px) {
  .footer .footer__block__right {
    height: auto;
    width: 100%;
    margin-top: 2rem;
    margin-left: 0;
  }
}
.footer .footer__block__right .__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5rem;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 1100px) {
  .footer .footer__block__right .__list {
    gap: 4rem;
  }
}
@media screen and (max-width: 1050px) {
  .footer .footer__block__right .__list {
    gap: 2rem;
  }
}
@media screen and (max-width: 850px) {
  .footer .footer__block__right .__list {
    gap: 5rem;
  }
}
@media screen and (max-width: 380px) {
  .footer .footer__block__right .__list {
    gap: 0;
  }
}
.footer .footer__block__right .__list .__list__flex {
  display: flex;
  flex-direction: column;
}
.footer .footer__block__right .__list .__list__flex li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-family: "Faustina", serif;
  font-size: 1rem;
}
@media screen and (max-width: 1366px) {
  .footer .footer__block__right .__list .__list__flex li {
    font-size: 0.85rem;
  }
}
.footer .footer__block__right .__list .__list__flex .__list__icon {
  font-size: 1.5rem;
}
@media screen and (max-width: 1366px) {
  .footer .footer__block__right .__list .__list__flex .__list__icon {
    font-size: 1rem;
  }
}
.footer .footer__block__right .__list .__list__flex a {
  color: rgba(255, 119, 43, 0.7);
}
.footer .footer__block__right .__list .__list__flex a:hover {
  color: rgba(255, 169, 118, 0.7);
}

/*# sourceMappingURL=Footer.css.map */
