@import './../../../CssVar/CssVar';

.footer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10rem;
  width: 100%;
  @media screen and (max-width: 850px) {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1rem;
  }

  .footer__block__left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin-left: 5rem;
    width: 40%;
    @media screen and (max-width: 850px) {
      height: auto;
      width: 100%;
      margin-top: 1rem;
      margin-left: 0;
    }

    button {
      width: 12rem;
      height: 4rem;
      border: none;
      border-radius: 20px;
      font-family: $tomorrow-font;
      @media screen and (max-width: 1050px) {
        width: 10rem;
      }
      @media screen and (max-width: 380px) {
        width: 7.5rem;
      }
    }

    .footer__block__left__btnContact {
      background-color: $dark-grey;
      color: $light-grey;
      font-size: 1.10rem;
      @media screen and (max-width: 1050px) {
        font-size: 1rem;
      }
      @media screen and (max-width: 380px) {
        font-size: 0.80rem;
      }
      &:hover {
        cursor: pointer;
        background-color: $dark-orange;
        color: #222222;
        font-weight: bold;
      }
    }

    .footer__block__left__btnCv {
      background-color: $dark-orange;
      a {
        color: black;
        font-weight: bold;
        font-size: 1.10rem;
      }
      @media screen and (max-width: 1050px) {
        font-size: 1rem;
      }
      &:hover {
        cursor: pointer;
        color: $light-grey;
        background-color: #222222;
        border: 1px solid $dark-orange;
        a {
          color: $light-grey;
          font-weight: bold;
          font-size: 1.25rem;
        }
      }
    }
  }
  .footer__block__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 40%;
    @media screen and (max-width: 850px) {
      height: auto;
      width: 100%;
      margin-top: 2rem;
      margin-left: 0;
    }
      .__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 5rem;
        color: $light-grey;
        @media screen and (max-width: 1100px) {
          gap: 4rem;
        }
        @media screen and (max-width: 1050px) {
          gap: 2rem;
        }
        @media screen and (max-width: 850px) {
          gap: 5rem;
        }
        @media screen and (max-width: 380px) {
          gap: 0;
        }

        .__list__flex {
          display: flex;
          flex-direction: column;
          li {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            font-family: $faustina-font;
            font-size: 1rem;

            @media screen and (max-width: 1366px) {
              font-size: 0.85rem;
            }
          }

          .__list__icon {
            font-size: 1.5rem;

            @media screen and (max-width: 1366px) {
              font-size: 1rem;
            }
          }

          a {
            color: $dark-orange;
            &:hover {
              color: $light-orange;
            }
          }
        }
      }
    }
}
