@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Grandstander&display=swap');


html, body{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-color: #222222;
}
ol, ul {
    list-style: none;
}
