@import './../../../CssVar/CssVar';

a {
  text-decoration: none;

  .header__block__navbar__items {
    font-family: $tomorrow-font;
    text-decoration: none;
    color: $light-grey;
    &:hover {
      text-underline-color: $dark-orange;
    }
  }
}
