@import '../../../../../../../Portfolio/portfolio/portfolio/src/CssVar/CssVar';

.separator {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 10px;
  border-top: 1px solid $grey;
  margin-top: 2rem;
}